In [2]:
%debug?

In [3]:
%timeit?

In [ ]:
%autom

In [1]:
%config Completer.use_jedi = False

In [3]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [32]:
a = 5

In [34]:
isinstance(a, int)

True

In [35]:
a = "foo"

In [38]:
getattr(a, 'split')

In [40]:
iter(a)

In [42]:
for el in a:
    print(el)

f
o
o

In [44]:
iter([1, 2, 3])

In [45]:
for el in [1, 2, 3]:
    print(el)

1
2
3

In [48]:
a = [1, 2, 3]

In [50]:
b = [1, 2, 3]

In [52]:
a == b

True

In [54]:
a is b

False

In [55]:
a = b

In [57]:
a is b

True

In [60]:
b = list(a)

In [62]:
a is b

False

In [63]:
b

[1, 2, 3]

In [69]:
5 & 1

1

In [76]:
def is_odd(number):
    if(number & 1 == 1):
        return True
    return False

def is_odd_with_type_conversion(number):
    if(number & 1):
        return True
    return False

In [79]:
import pytest

In [83]:
def test_is_odd_with_type_conversion():
    assert is_odd_with_type_conversion(5) == True
    assert is_odd_with_type_conversion(4) == False
    
test_is_odd_with_type_conversion()

In [86]:
4 | 1

5

In [87]:
4 ^ 1

5

In [88]:
5 ^ 1

4

In [93]:
3 & -3

1

In [95]:
a = 'this is a string'

In [96]:
a.count('a')

1

In [97]:
a.replace('string', 'longer string')

'this is a longer string'

In [101]:
s = r'this\has\no\special\characters'

In [102]:
s

'this\\has\\no\\special\\characters'

In [104]:
s = 'this\has\no\special\characters'

In [105]:
s

'this\\has\no\\special\\characters'

## Dates and times

In [108]:
from datetime import datetime, date, time

In [109]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [111]:
datetime?

In [119]:
test = datetime(second = 32, minute = 45, hour = 12, day = 29, month = 2, year = 2000)

In [124]:
test.strftime('%Y')

'2000'

In [126]:
dt = datetime(year = 2021, month=1, day=8, hour=14, minute=6, second=30)

In [127]:
dt

datetime.datetime(2021, 1, 8, 14, 6, 30)

In [129]:
dt.strftime('%m/%d/%Y %H:%M')

'01/08/2021 14:06'

In [132]:
dt2 = datetime.strptime('20091031', '%Y%m%d')

In [133]:
dt - dt2

datetime.timedelta(days=4087, seconds=50790)

## Range

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for i in range(1, 101):
    print(("fizz"*(i%3==0) + "buzz"*(i%5==0)) or i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

## Ternary expressions in python

In [ ]:
if x >= 0:
    string = 'Non-negative'
else:
    string = 'Negative'